extends layout

block content
  -var hero = asset(entry.heroImage)
  -var smallhero = asset(entry.heroImage, {w: 640, q: 100})
  -var mediumhero = asset(entry.heroImage, {w: 1200, q: 100})
  -var largehero = asset(entry.heroImage, {w: 2400, q: 100})
  -var heroSrc = largehero + ' ' + '2400w' + ', ' + mediumhero + ' ' + '1200w' + ', ' + smallhero + ' ' + '640w'
  
  
  .hero-image(style='background-image: url(#{hero})')
  //img(src= mediumhero srcset= heroSrc)
  .project.wrapper
    .project-container
      .info
        .person-info
          img.portrait(src= asset(entry.portrait))
          h3= entry.studentName
          h4= entry.focus
          p= entry.skills
          a(href= entry.portfolioWebsiteLink)= entry.portfolioWebsiteLink
          hr.mobile-divider
        .project-info    
          h1= entry.titleOfCapstone
          h2= entry.subtitle
          p= entry.capstoneDescription
      .project
        ul.project_image_list
          - for projectImages in entry.projectImages
            li
              img(src= asset(projectImages))
              
  .wrapper
    #Container.container
      - for post in contentful.posts
        - var lastName = post.studentName.split(" ")[1];
        a.item.mix(href= post._url, class= post.focus, data-name= lastName)
          .card-wrapper
            .image
              img#img(src= asset(post.portrait))
            .card-content
              span.project= post.titleOfCapstone
              span.name= post.studentName
      
      //ul
        //- for listVideo in entry.listVideo
          //li= listVideo
  
  //ul.thumbnails
    //- for post in contentful.posts
      //li
        //a(href= post._url) 
          //img(src= asset(post.heroImage))
          
  
