extends layout

block content
  -var videoLink = "//player.vimeo.com/video/"+entry.EmbedVideo
  -var hero = asset(entry.heroImage, {q: 70})
  -var smallHero = asset(entry.heroImage, {w: 640, q: 100})
  -var mediumHero = asset(entry.heroImage, {w: 1200, q: 100})
  -var largeHero = asset(entry.heroImage)
  -var heroSrc = largeProject + ' ' + '2400w' + ', ' + mediumProject + ' ' + '1200w' + ', ' + smallProject + ' ' + '640w'

  if( entry.studentName.indexOf('Thorsen') >= 0)
    -var studentFocus = "Motion Interaction"
  else
    -var studentFocus = entry.focus
  
  
  .hero-image(style='background-image: url(#{hero})')
  //img(src= mediumhero srcset= heroSrc)
  .project.wrapper
    .info
      .person-info(class= studentFocus)
        .portrait
          if entry.portrait
              img(src= asset(entry.portrait))
            else
              img(src= "img/noPortrait.jpg")
        h3= entry.studentName
        h4= studentFocus
        p= entry.skills
        if entry.pair
          - var firstStudent = entry.portfolioWebsiteLink.split(" ")[0];
          - var secondStudent = entry.portfolioWebsiteLink.split(" ")[1];
          - var firstLink = "http://"+firstStudent
          - var secondLink = "http://"+secondStudent
          a(class="pairLink" href= firstLink, target="_blank")= firstStudent
          br
          a(class="pairLink" href= secondLink, target="_blank")= secondStudent
          
        else
          -var portfolioLink = "http://"+entry.portfolioWebsiteLink
          a(href= portfolioLink, target="_blank")= entry.portfolioWebsiteLink
      .project-info    
        h1= entry.titleOfCapstone
        h2= entry.subtitle
        p= entry.capstoneDescription
    .project
      if entry.EmbedVideo
        .embed-container
          iframe(src=videoLink, frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
      ul.project_image_list
        - for projectImages in entry.projectImages
          -var project = asset(entry.heroImage)
          -var smallProject = asset(entry.heroImage, {w: 640, q: 100})
          -var mediumProject = asset(entry.heroImage, {w: 1200, q: 100})
          -var largeProject = asset(entry.heroImage)
          -var projectSrc = largeProject + ' ' + '2400w' + ', ' + mediumProject + ' ' + '1200w' + ', ' + smallProject + ' ' + '640w'
          li
            img(src= asset(projectImages), srcset= projectSrc)
          
  
