extends layout

block content
  .intro-container
    .shapes-wrapper
      +icons("interaction","18")
      +icons("motion","17")
      +icons("print","17")
    .logo-wrapper
      .logo-container
        .logo
          img(src="img/logo.svg")
          img.shapes.drag#s2(src="img/icons/2.svg")
          img.shapes.drag#s3(src="img/icons/3.svg")
          img.shapes.drag#s4(src="img/icons/4.svg")
          img.shapes.drag#s5(src="img/icons/5.svg")
          img.shapes.drag#s6(src="img/icons/6.svg")
          img.shapes.drag#s7(src="img/icons/7.svg")
          img.tagline(src="img/daapworks.svg")

  .text-container
    .text-wrapper
      .col
        p.emphasized Design Exhibition at the University of Cincinnati
        h1 Come meet the 73 designers of DAAP GRCD class of 2016.
      .col.small
        p.emphasized Opening Reception
        p April 26, 5PM - 6PM
        p.emphasized Exhibition Hours
        p April 26, 5PM - 9PM </br> April 27-29, 9AM - 9PM </br> April 30, 10AM - 1PM   
      .col.small
        a(target = "blank" href="http://maps.google.com/?q=DAAP Aronoff Building 2624 Clifton Avenue Cincinnati, OH 45219")
          p.emphasized DAAP Aronoff Building 
          p 2624 Clifton Avenue </br> Cincinnati, OH 45219

  .intro-wrapper
    .text
        hr
        .center
          .filter-home.all.active(data-filter='all') Everyone
          .filter-home.graphic(data-filter='.Graphic') Graphic
          .filter-home.motion(data-filter='.Motion') Motion
          .filter-home.interaction(data-filter='.Interaction') Interaction
    //- img.graphic-image(src= 'img/graphic_pattern.png')
    //- img.motion-image(src= 'img/motion_pattern.png')
    //- img.interaction-image(src= 'img/interaction_pattern.png')
  
  .wrapper
    #Container.container
      - for post in contentful.posts
        - var lastName = post.studentName.split(" ")[1];
        if( post.studentName.indexOf('Thorsen') >= 0)
          -var studentFocus = "Motion Interaction"
        else
          -var studentFocus = post.focus
        a.item.mix(href= post._url, class= studentFocus, data-name= lastName)
          .card-wrapper
            .image
              img#img(src= asset(post.portrait))
            .card-content
              span.project= post.titleOfCapstone
              span.name= post.studentName
      .gap
      .gap
      .gap


mixin icons(focus, total)
  -var i = 1
  while i <= total
    -var link = "img/"+ focus + "Icons/" + focus + i +".svg"
    img.drag(class=focus, src=link, id=focus+i)
    -i++
